
@import "../core/color.less";

.component-sidebar {
    width: 190px;
    height: 100vh;
    border-right: 1px solid #D9E0E0;
    background-color: #fff;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

