<!DOCTYPE html>
<html>
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <main></main>
    </body>
    <!-- Root -->
    <script src="../javascripts/app/root.js"></script>
    <!-- Venders -->
    <script src="../javascripts/vender/eventemitter.js"></script>
    <script src="../javascripts/vender/material.js"></script>
    <script src="../javascripts/vender/mithril.js"></script>
    <!-- Core -->
    <script src="../javascripts/app/common/view.js"></script>
    <!-- Components -->
    <script src="../javascripts/app/components/dropdownmenu.js"></script>
    <script src="../javascripts/app/components/submenu.js"></script>
    <script src="../javascripts/app/components/button.js"></script>
    <script src="../javascripts/app/components/textinput.js"></script>
    <script src="../javascripts/app/components/list.js"></script>
    <script src="../javascripts/app/components/listitem.js"></script>
    <script src="../javascripts/app/components/grid.js"></script>
    <script src="../javascripts/app/components/griditem.js"></script>
    <script src="../javascripts/app/components/sidebar.js"></script>
    <script src="../javascripts/app/components/statusbar.js"></script>
    <script src="../javascripts/app/components/tabview.js"></script>
    <script src="../javascripts/app/components/toolbar.js"></script>
    <!-- UI -->
    <script src="../javascripts/app/ui/main.js"></script>
    <!-- Loader -->
    <script src="../javascripts/app/loader/main.js"></script>
</html>
